modules = ["python-3.12", "web", "php-8.2", "bash"]

[nix]
channel = "stable-24_05"
packages = ["c-ares", "cacert", "cargo", "grpc", "libffi", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "zlib"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 43642138
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = "python app.py"
